/***************************************************************
=> gbox_jqGrid_lista_A_1_t
************************************************************ */
#gbox_jqGrid_lista_A_1_t  {
    background: none;
    border: 1px solid #CECECE !important;
    color: #222222;
}

#gbox_jqGrid_lista_A_1_t .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: url("../images/jquery/ui-bg_glass_45_0078ae_1x400.png") repeat-x scroll 50% 50% #D9EDD1;
    border: 1px solid #FFFFFF;	
    color: #2D7A12;
    font-weight: normal;
}

/***************************************************************
=> gbox_jqGrid_lista_A_2_t
************************************************************ */
#gbox_jqGrid_lista_A_2_t  {
    background: none;
    border: 1px solid #CECECE !important;
    color: #222222;
}

#gbox_jqGrid_lista_A_2_t .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: url("../images/jquery/ui-bg_glass_45_0078ae_1x400.png") repeat-x scroll 50% 50% #D9EDD1;
    border: 1px solid #FFFFFF;	
    color: #2D7A12;
    font-weight: normal;
}

/***************************************************************
=> gbox_jqGrid_lista_A_3_t
************************************************************ */
#gbox_jqGrid_lista_A_3_t  {
    background: none;
    border: 1px solid #CECECE !important;
    color: #222222;
}

#gbox_jqGrid_lista_A_3_t .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: url("../images/jquery/ui-bg_glass_45_0078ae_1x400.png") repeat-x scroll 50% 50% #D9EDD1;
    border: 1px solid #FFFFFF;	
    color: #2D7A12;
    font-weight: normal;
}

/***************************************************************
=> gbox_jqGrid_lista_A_4_t
************************************************************ */
#gbox_jqGrid_lista_A_4_t  {
    background: none;
    border: 1px solid #CECECE !important;
    color: #222222;
}

#gbox_jqGrid_lista_A_4_t .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: url("../images/jquery/ui-bg_glass_45_0078ae_1x400.png") repeat-x scroll 50% 50% #D9EDD1;
    border: 1px solid #FFFFFF;	
    color: #2D7A12;
    font-weight: normal;
}

/***************************************************************
=> gbox_jqGrid_lista_A_5_t
************************************************************ */
#gbox_jqGrid_lista_A_5_t  {
    background: none;
    border: 1px solid #CECECE !important;
    color: #222222;
}

#gbox_jqGrid_lista_A_5_t .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: url("../images/jquery/ui-bg_glass_45_0078ae_1x400.png") repeat-x scroll 50% 50% #D9EDD1;
    border: 1px solid #FFFFFF;	
    color: #2D7A12;
    font-weight: normal;
}

/***************************************************************
=> gbox_jqGrid_lista_A_6_t
************************************************************ */
#gbox_jqGrid_lista_A_6_t  {
    background: none;
    border: 1px solid #CECECE !important;
    color: #222222;
}

#gbox_jqGrid_lista_A_6_t .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: url("../images/jquery/ui-bg_glass_45_0078ae_1x400.png") repeat-x scroll 50% 50% #D9EDD1;
    border: 1px solid #FFFFFF;	
    color: #2D7A12;
    font-weight: normal;
}

/***************************************************************
=> gbox_jqGrid_lista_A_7_t
************************************************************ */
#gbox_jqGrid_lista_A_7_t  {
    background: none;
    border: 1px solid #CECECE !important;
    color: #222222;
}

#gbox_jqGrid_lista_A_7_t .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: url("../images/jquery/ui-bg_glass_45_0078ae_1x400.png") repeat-x scroll 50% 50% #D9EDD1;
    border: 1px solid #FFFFFF;	
    color: #2D7A12;
    font-weight: normal;
}

/***************************************************************
=> gbox_jqGrid_lista_A_8_t
************************************************************ */
#gbox_jqGrid_lista_A_8_t  {
    background: none;
    border: 1px solid #CECECE !important;
    color: #222222;
}

#gbox_jqGrid_lista_A_8_t .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: url("../images/jquery/ui-bg_glass_45_0078ae_1x400.png") repeat-x scroll 50% 50% #D9EDD1;
    border: 1px solid #FFFFFF;	
    color: #2D7A12;
    font-weight: normal;
}

/***************************************************************
=> gbox_jqGrid_lista_A_2_t
************************************************************ */
#gbox_jqGrid_lista_A_9_t  {
    background: none;
    border: 1px solid #CECECE !important;
    color: #222222;
}

#gbox_jqGrid_lista_A_9_t .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: url("../images/jquery/ui-bg_glass_45_0078ae_1x400.png") repeat-x scroll 50% 50% #D9EDD1;
    border: 1px solid #FFFFFF;	
    color: #2D7A12;
    font-weight: normal;
}

/***************************************************************
=> gbox_jqGrid_lista_A_10_t
************************************************************ */
#gbox_jqGrid_lista_A_10_t  {
    background: none;
    border: 1px solid #CECECE !important;
    color: #222222;
}

#gbox_jqGrid_lista_A_10_t .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: url("../images/jquery/ui-bg_glass_45_0078ae_1x400.png") repeat-x scroll 50% 50% #D9EDD1;
    border: 1px solid #FFFFFF;	
    color: #2D7A12;
    font-weight: normal;
}

/***************************************************************
=> gbox_jqGrid_lista_A_11_t
************************************************************ */
#gbox_jqGrid_lista_A_11_t  {
    background: none;
    border: 1px solid #CECECE !important;
    color: #222222;
}

#gbox_jqGrid_lista_A_11_t .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: url("../images/jquery/ui-bg_glass_45_0078ae_1x400.png") repeat-x scroll 50% 50% #D9EDD1;
    border: 1px solid #FFFFFF;	
    color: #2D7A12;
    font-weight: normal;
}

/***************************************************************
=> gbox_jqGrid_lista_A_12_t
************************************************************ */
#gbox_jqGrid_lista_A_12_t  {
    background: none;
    border: 1px solid #CECECE !important;
    color: #222222;
}

#gbox_jqGrid_lista_A_12_t .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: url("../images/jquery/ui-bg_glass_45_0078ae_1x400.png") repeat-x scroll 50% 50% #D9EDD1;
    border: 1px solid #FFFFFF;	
    color: #2D7A12;
    font-weight: normal;
}

/***************************************************************
=> gbox_jqGrid_lista_A_13_t
************************************************************ */
#gbox_jqGrid_lista_A_13_t  {
    background: none;
    border: 1px solid #CECECE !important;
    color: #222222;
}

#gbox_jqGrid_lista_A_13_t .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: url("../images/jquery/ui-bg_glass_45_0078ae_1x400.png") repeat-x scroll 50% 50% #D9EDD1;
    border: 1px solid #FFFFFF;	
    color: #2D7A12;
    font-weight: normal;
}

/***************************************************************
=> gbox_jqGrid_lista_A_14_t
************************************************************ */
#gbox_jqGrid_lista_A_14_t  {
    background: none;
    border: 1px solid #CECECE !important;
    color: #222222;
}

#gbox_jqGrid_lista_A_14_t .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: url("../images/jquery/ui-bg_glass_45_0078ae_1x400.png") repeat-x scroll 50% 50% #D9EDD1;
    border: 1px solid #FFFFFF;	
    color: #2D7A12;
    font-weight: normal;
}

/***************************************************************
=> gbox_jqGrid_lista_A_15_t
************************************************************ */
#gbox_jqGrid_lista_A_15_t  {
    background: none;
    border: 1px solid #CECECE !important;
    color: #222222;
}

#gbox_jqGrid_lista_A_15_t .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: url("../images/jquery/ui-bg_glass_45_0078ae_1x400.png") repeat-x scroll 50% 50% #D9EDD1;
    border: 1px solid #FFFFFF;	
    color: #2D7A12;
    font-weight: normal;
}

/***************************************************************
=> gbox_jqGrid_lista_A_16_t
************************************************************ */
#gbox_jqGrid_lista_A_16_t  {
    background: none;
    border: 1px solid #CECECE !important;
    color: #222222;
}

#gbox_jqGrid_lista_A_16_t .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: url("../images/jquery/ui-bg_glass_45_0078ae_1x400.png") repeat-x scroll 50% 50% #D9EDD1;
    border: 1px solid #FFFFFF;	
    color: #2D7A12;
    font-weight: normal;
}

/***************************************************************
=> gbox_jqGrid_lista_A_17_t
************************************************************ */
#gbox_jqGrid_lista_A_17_t  {
    background: none;
    border: 1px solid #CECECE !important;
    color: #222222;
}

#gbox_jqGrid_lista_A_17_t .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: url("../images/jquery/ui-bg_glass_45_0078ae_1x400.png") repeat-x scroll 50% 50% #D9EDD1;
    border: 1px solid #FFFFFF;	
    color: #2D7A12;
    font-weight: normal;
}

/***************************************************************
=> gbox_jqGrid_lista_A_18_t
************************************************************ */
#gbox_jqGrid_lista_A_18_t  {
    background: none;
    border: 1px solid #CECECE !important;
    color: #222222;
}

#gbox_jqGrid_lista_A_18_t .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: url("../images/jquery/ui-bg_glass_45_0078ae_1x400.png") repeat-x scroll 50% 50% #D9EDD1;
    border: 1px solid #FFFFFF;	
    color: #2D7A12;
    font-weight: normal;
}

/***************************************************************
=> gbox_jqGrid_lista_A_19_t
************************************************************ */
#gbox_jqGrid_lista_A_19_t  {
    background: none;
    border: 1px solid #CECECE !important;
    color: #222222;
}

#gbox_jqGrid_lista_A_19_t .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: url("../images/jquery/ui-bg_glass_45_0078ae_1x400.png") repeat-x scroll 50% 50% #D9EDD1;
    border: 1px solid #FFFFFF;	
    color: #2D7A12;
    font-weight: normal;
}

/***************************************************************
=> gbox_jqGrid_lista_A_20_t
************************************************************ */
#gbox_jqGrid_lista_A_20_t  {
    background: none;
    border: 1px solid #CECECE !important;
    color: #222222;
}

#gbox_jqGrid_lista_A_20_t .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: url("../images/jquery/ui-bg_glass_45_0078ae_1x400.png") repeat-x scroll 50% 50% #D9EDD1;
    border: 1px solid #FFFFFF;	
    color: #2D7A12;
    font-weight: normal;
}