<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="Everywhere"/>
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>
	</configSections>
	<system.web>
		<globalization culture="es-PE" uiCulture="es-PE"/>
		<identity impersonate="true"/>
		<authentication mode="Windows"/>
		<pages>
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			</controls>
		</pages>
		<customErrors mode="Off"></customErrors>
		<!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
				<add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="ADODB, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Accessibility, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies>
		</compilation>
		<httpHandlers>
			<remove path="*.asmx" verb="*"/>
			<add path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
			<add path="*_AppService.axd" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
			<add path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
		</httpHandlers>
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		</httpModules>
		<httpRuntime maxRequestLength="90240" enable="true" executionTimeout="90" requestLengthDiskThreshold="90000"/>
		<sessionState mode="InProc" timeout="60"/>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<add name="ScriptModule" preCondition="integratedMode" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		</modules>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated"/>
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		</handlers>
	</system.webServer>
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="5000000"/>
			</webServices>
		</scripting>
	</system.web.extensions>
	<connectionStrings>
		<add name="IBLPCConnectionString" connectionString="Data Source=oracle11G\sql;Initial Catalog=IBLPC;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="App" value="GCC"/>
		<add key="LogNivel" value="DEBUG"/>
		<add key="LogRuta" value="C:\Files\"/>
		<add key="PaginaInicio" value="http://localhost/GCC_WEB_F6/frmLogin.aspx"/>
		<add key="ArgAmbienteIndex" value="1"/>
		<add key="wsFCDRM" value="http://s235va2/fcdWS/bseFCDO002.asmx"></add>
		<add key="FileServer" value="C:\Files\"/>
		<add key="TamanoArchivosBytes" value="92405760"/>
		<add key="DominioUsuario" value="grupoib.local"/>
		<add key="NemonicoEN" value="WIO_GL_EN_"/>
		<add key="wsUltimusWBC" value="http://s129va/wbcultws/wsUltimus.asmx"/>
		<add key="wsUltimusEIK" value="http://s129va/UltIntegrationV71/UltIntegration.asmx"/>
		<add key="wsFCDCuenta" value="http://s235va2/fcdWS/bseFCDO003.asmx"></add>
		<add key="NeumonicoACLS" value="WIO_GL_AC_LS"/>
		<add key="AccesoSDA" value="1111111111111111"/>
    		<add key="EnvioCorreo" value="SI"/>
	    	<add key="ServidorSMTP" value="localhost"/>
    		<add key="MailUsuarioDe" value="workflowinstruccionoperativa@intercorp.com.pe"/>
    		<add key="MailUsuarioPara" value="karina.caycho@teamsoft.com.pe"/>
    		<add key="MailUsuarioCC" value="richard.perez@teamsoft.com.pe"/>
    		<add key="FlujoF10" value="SI"/>
    		<add key="CodigoUsuario1" value="b16334"/>
    		<add key="CodigoUsuario2" value="b9872"/>
    		<add key="CodigoUsuario3" value="b16081"/>
    		<add key="wsFCDDesembolso" value="http://s235va2/fcdWS/bseFCDO004.asmx"></add>	
    		<add key="usoWS_Desembolso" value="SI"/>	
    		<add key="USER_TLD" value="AWIOUSR1"/>	
    		<add key="AGENCIA_TLD" value="945"/>	
   		<add key="COD_TRAN_FCDO" value="LP04"/>	
    		<add key="wsEstadoWIO" value="http://s129va/wdcws/wiodesembolso.asmx"/>
    		<add key="wsEstadoWIOArgProducto" value="11"/>
    <add key="wsEstadoWIOArgProductoLeaseBack" value="19"/>
    <add key="wsEstadoWIOArgPaso" value="Desembolso_Emision"/>
    <add key="FlujoWIO" value="SI"/>
    <add key="ActParcialChequeaPrecuotas" value="1"/>
	</appSettings>
</configuration>
